:root {
  //Colors
  --clr-primary: #0055B8;
  --clr-white: #ffffff;
  --clr-secondary:#00B2E2;
  --clr-green:#0ED1B3;
  --clr-gray:#EDF8FF;
  --clr-dark-blue:#00308C;
  // fonts
    // Size
    --fs-sm:18px;
    --fs-md:20px;
    --fs-lg:22px;
    --fs-xl:56px;
    // weight
    --fw-normal:400;
    --fw-med:500;
    --fw-bold:700;
    // Family
    --ff-ar:"Tajawal", sans-serif;
    --ff-en:"Cabin", sans-serif;
}