@use "../prefix" as *;

.#{$prefix}-card {
  background: var(--card-bg);
  clip-path: var(--card-ltr-clip-path);
  padding: var(--card-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  transition: 0.6s all linear;

  &:hover,
  &.active {
    background: var(--clr-green);
    path,
    circle {
      fill: var(--clr-white);
    }
  }

  --card-border-radius: 0;
  --card-padding: 60px;
  --card-min-width: var(--btn-min-width);
  --card-bg: var(--clr-gray);
  --card-ltr-clip-path: polygon(0% 25px, 25px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 25px);
  --card-rtl-clip-path: polygon(0% 0, calc(100% - 25px) 0%, 100% 25px, 100% 100%, 0% 100%, 0% 0%);

}

html[lang="ar"] body .#{$prefix}-card,
html[dir="rtl"] body .#{$prefix}-card {
  clip-path: var(--card-rtl-clip-path);
}
